

header {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../Images/Photos/17.jpeg);
    position: relative;
    margin-bottom: 5%;
}



.who-we-are .who-we-img .img-1 {
    width: 100% !important;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0%;
    z-index: 1;
    border: 2px solid var(--color);
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
