@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Poppins', sans-serif;  */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Heebo', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Jost', sans-serif;  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.7s;
    font-family: 'Jost', sans-serif;
}

:root {
    --color: #ffcc29;
    --red: rgb(255, 47, 47);
    --gray: #b1b3b4;
    --black: #141b1f;
    --white: rgb(255, 255, 255);

}

header {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../Images/Photos/18.jpeg);
    position: relative;
    margin-bottom: 5%;
}


.nav-link{
    color: var(--color) !important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}


.service-section{
    width: 100%;
    height: auto;
    margin-bottom: 5%;

}

.services-box-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.service-title{
    text-align: center;
    margin-bottom: 3%;
}

.service-title .services-t{
    background-color: var(--color);
    padding: 0.5%;
    border-radius: 20px;
    color: var(--black);
    font-weight: 600;
}

.service-title h2{
    color: var(--color);
}

.service-title h2 span{
    color: var(--black);
}

.services-box-container .services-boxs{
    width: 47%;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1%;
    border-radius: 10px;
}

.services-box-container .services-boxs .services-images{
    width: 100%;
    height: 70%;
    position: relative;
}

.services-box-container .services-boxs .services-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(347deg, rgba(0, 0, 0, 0.7371323529411764) 37%, rgba(0, 0, 0, 0) 96%);
}

.services-box-container .services-boxs .services-images h5{
    position: absolute;
    bottom: 10px;
    left: 10%;
    z-index: 2;
    color: var(--color);
}

.services-box-container .services-boxs button{
    width: 50%;
    padding: 1%;
    background-color: var(--color);
    border: none;    
    color: var(--white);
    border: 2px solid var(--color);
    border-radius: 15px ;
    font-weight: 600;
}

.services-box-container .services-boxs button i{
    color: var(--red);
}

.services-box-container .services-boxs button:hover{
    background-color: var(--white);
    color: var(--color);

}
/* 
.jewellery-popup{
    display: none;
} */


/* //////////////////Popup Section /////////////////// */

.jewellery-popup{
    width: 50%;
    text-align: center;
    position: fixed;
    top: 50%;
    height: auto;
    background-color: var(--white);
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 6666;
    padding: 2%;
    border-radius: 10px;
}

.jewellery-popup h5{
    color: var(--color);
}

.j1{
    scale: 0;
    opacity: 0;
}

.j2{
    scale: 0;
    opacity: 0;
}

.j3{
    scale: 0;
    opacity: 0;
}

.j4{
    scale: 0;
    opacity: 0;
}
.j5{
    scale: 0;
    opacity: 0;
}

.j6{
    scale: 0;
    opacity: 0;
}






.jewellery-shop-container{
    width: 100%;
    height: 300px;
    background-color: var(--white);
    margin-bottom: 3%;
    
}

.jewellery-shop-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.jewellery-popup button{
    padding: 1%;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--red);
    color: var(--red);
}











































@media screen and (max-width:320px) {
    
.services-box-container .services-boxs{
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1%;
}


.jewellery-popup{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    height: auto;
    background-color: var(--white);
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 6666;
    padding: 2%;
}

}

@media screen and (min-width:321px) and (max-width:425px) {

    .services-box-container .services-boxs{
        width: 100%;
        height:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 3%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1%;
    }

    .jewellery-popup{
        width: 100%;
        text-align: center;
        position: fixed;
        top: 50%;
        height: auto;
        background-color: var(--white);
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 6666;
        padding: 2%;
    }
    
}

@media screen and (min-width:426px) and (max-width:600px) {
    .services-box-container .services-boxs{
        width: 100%;
        height:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 3%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1%;
    }

    .jewellery-popup{
        width: 90%;
        text-align: center;
        position: fixed;
        top: 50%;
        height: auto;
        background-color: var(--white);
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 6666;
        padding: 2%;
    }
    
}

@media screen and (min-width:601px) and (max-width:767px) {


    .jewellery-popup{
        width: 80%;
        text-align: center;
        position: fixed;
        top: 50%;
        height: auto;
        background-color: var(--white);
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 6666;
        padding: 2%;
    }
}

@media screen and (min-width:768px) and (max-width:900px) {
    .jewellery-popup{
        width: 80%;
        text-align: center;
        position: fixed;
        top: 50%;
        height: auto;
        background-color: var(--white);
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 6666;
        padding: 2%;
    }
}

@media screen and (min-width:901px) and (max-width:991px) {}

@media screen and (min-width:992px) and (max-width:1024px) {}

@media screen and (min-width:1025px) and (max-width:1140px) {}


@media screen and (min-width:1140px) and (max-width:1240px) {}